{% extends 'BaseClient.html' %} {% block title %}Checkout{% endblock title %} {%
block content %}

<!--=====================================
                CHECKOUT PART START
    =======================================-->
<section class="inner-section checkout-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="account-card">
          <div class="account-title">
            <h4>Your order</h4>
          </div>

          <div class="account-content">
            <div class="table-scroll">
              <table class="table-list">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="table-image">
                      <img src="image" alt="product" />
                    </td>
                    <td class="table-name"><h6>name</h6></td>
                    <td class="table-price"><h6>$price</h6></td>
                    <td class="table-brand"><h6>quantity</h6></td>
                    <td class="table-brand"><h6>$total price</h6></td>
                    <td class="table-action">
                      <a
                        class="view"
                        href="#"
                        title="Edit Amount"
                        data-bs-toggle="modal"
                        data-bs-target="#product-view-{{key}}"
                        ><i class="fas fa-edit"></i
                      ></a>
                      <a class="trash" href="#" title="Remove Wishlist"
                        ><i class="icofont-trash"></i
                      ></a>
                    </td>
                  </tr>

                  <div class="modal fade" id="product-view-{{key}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <button
                          class="modal-close icofont-close"
                          data-bs-dismiss="modal"
                        ></button>
                        <div class="product-view">
                          <div class="row">
                            <div class="col-md-6 col-lg-6">
                              <div class="view-gallery">
                                <div class="view-label-group">
                                  <label class="view-label new"
                                    >#stock in stock</label
                                  >
                                </div>
                                <ul class="preview-slider">
                                  <li>
                                    <img
                                      src="static/images/product-images/product"
                                      alt="product"
                                    />
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                              <div class="view-details">
                                <h3 class="view-name">
                                  <a href="product-video.html">name</a>
                                </h3>
                                <div class="view-meta">
                                  <p>Brand:<span>Brand</span></p>
                                </div>
                                <div class="view-meta">
                                  <p>Type: lens</p>
                                </div>
                                <div class="view-meta">
                                  <p>Mount: mount</p>
                                </div>
                                <h3 class="view-price">
                                  <span>$price</span>
                                </h3>
                                <p class="view-desc">desc</p>
                                <form method="post">
                                  <div class="view-add-group">
                                    <input
                                      style="width: 75%; text-align: center"
                                      class="action-input"
                                      title="Quantity Number"
                                      type="number"
                                      name="quantity"
                                      value="quantity"
                                    />
                                    <input
                                      type="hidden"
                                      id="p_id"
                                      name="p_id"
                                      value="id"
                                    />
                                    <input
                                      type="hidden"
                                      id="page"
                                      name="page"
                                      value="/checkout"
                                    /><br />
                                    <input
                                      type="submit"
                                      name="submit"
                                      id="submit"
                                      value="Edit amount"
                                    />
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tbody>
              </table>
            </div>

            <br /><br />

            <div class="checkout-charge">
              <ul>
                <li>
                  <span>Total</span>
                  <span>$total</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="account-card">
              <div class="account-title">
                <h4>contact number</h4>
                <button data-bs-toggle="modal" data-bs-target="#contact-add">
                  edit number
                </button>
              </div>
              <div class="account-content">
                <div class="row">
                  <div class="col-md-6 col-lg-4 alert fade show">
                    <div class="profile-card contact active">
                      <h6>primary</h6>
                      <p>user</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="account-card">
              <div class="account-title">
                <h4>delivery address</h4>
                <button data-bs-toggle="modal" data-bs-target="#address-add">
                  edit address
                </button>
              </div>
              <div class="account-content">
                <div class="row">
                  <div class="col-md-6 col-lg-4 alert fade show">
                    <div class="profile-card address active">
                      <p>{{user1[3]}}</p>
                      <br />
                      <p>{{user1[4]}}</p>
                      <br />
                      <p>{{user1[5]}}, {{user1[6]}} &nbsp {{user1[7]}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="account-card mb-0">
              <div class="account-title">
                <h4>payment option</h4>
                <button data-bs-toggle="modal" data-bs-target="#payment-add">
                  add payment info
                </button>
              </div>
              <div class="account-content">
                <div class="row">
                  <div class="col-md-6 col-lg-4 alert fade show">
                    <div class="payment-card payment active">
                      <h2>{{user1[12]}}</h2>
                      <p>{{user1[13]}}</p>
                      <h5>{{user1[11]}}</h5>
                      <h6>{{user1[14]}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- contact add form -->
          <div class="modal fade" id="contact-add">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <button class="modal-close" data-bs-dismiss="modal">
                  <i class="icofont-close"></i>
                </button>
                <form class="modal-form">
                  <div class="form-title">
                    <h3>Edit contact number</h3>
                  </div>
                  <div class="form-group">
                    <label class="form-label">number</label>
                    <input
                      class="form-control"
                      type="number"
                      value="{{user1[10]}}"
                    />
                  </div>
                  <button class="form-btn" type="submit">
                    save contact number
                  </button>
                </form>
              </div>
            </div>
          </div>

          <!-- address add form -->
          <div class="modal fade" id="address-add">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <button class="modal-close" data-bs-dismiss="modal">
                  <i class="icofont-close"></i>
                </button>
                <form class="modal-form">
                  <div class="form-title">
                    <h3>edit address info</h3>
                  </div>

                  <div class="form-group">
                    <label class="form-label">Address Line 1</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{user1[3]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Address Line 2</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{user1[4]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">City</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{user1[5]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">State</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{user1[6]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Zipcode</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{user1[7]}}"
                    />
                  </div>
                  <button class="form-btn" type="submit">
                    save address info
                  </button>
                </form>
              </div>
            </div>
          </div>

          <!-- payment add form -->
          <div class="modal fade" id="payment-add">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <button class="modal-close" data-bs-dismiss="modal">
                  <i class="icofont-close"></i>
                </button>
                <form class="modal-form">
                  <div class="form-title">
                    <h3>edit payment info</h3>
                  </div>
                  <div class="form-group">
                    <label class="form-label">card name</label>
                    <input
                      class="form-control"
                      type="text"
                      value="{{user1[11]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">card number</label>
                    <input
                      class="form-control"
                      type="number"
                      value="{{user1[13]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">card type</label>
                    <input
                      class="form-control"
                      type="text"
                      value="{{user1[12]}}"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label"
                      >expiration date (MM/DD/YYYY)</label
                    >
                    <input
                      class="form-control"
                      type="date"
                      value="{{user1[14]}}"
                    />
                  </div>
                  <button class="form-btn" type="submit">
                    save payment info
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="checkout-proced">
            <a href="{{url_for('invoice')}}" class="btn btn-inline"
              >proceed to checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================
                CHECKOUT PART END
    =======================================-->

{% endblock content %}
