{% extends 'BaseClient.html' %} {% block title %}Profile{% endblock title %} {%
block content %}

<!--=====================================
                PROFILE PART START
    =======================================-->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="card">
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-11">
        <div class="card">
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-11">
        <div class="card">
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================
                PROFILE PART END
    =======================================-->

<!--=====================================
                    MODAL ADD FORM START
    =======================================-->
<!-- contact edit form -->
<div class="modal fade" id="contact-add">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button class="modal-close" data-bs-dismiss="modal">
        <i class="icofont-close"></i>
      </button>
      <form class="modal-form" action="" method="post">
        <div class="form-title">
          <h3>Edit contact number</h3>
        </div>
        <div class="form-group">
          <label class="form-label">number</label>
          <input
            class="form-control"
            name="number"
            type="number"
            value="phone number"
          />
        </div>
        <button class="form-btn" type="submit">save contact number</button>
        <input type="hidden" name="page" value="/profile" />
      </form>
    </div>
  </div>
</div>

<!-- address edit form -->
<div class="modal fade" id="address-add">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button class="modal-close" data-bs-dismiss="modal">
        <i class="icofont-close"></i>
      </button>
      <form class="modal-form" action="" method="post">
        <div class="form-title">
          <h3>edit address info</h3>
        </div>

        <div class="form-group">
          <label class="form-label">Address Line 1</label>
          <input
            type="text"
            name="aline1"
            class="form-control"
            value="address 1"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Address Line 2</label>
          <input
            type="text"
            name="aline2"
            class="form-control"
            value="address 2"
          />
        </div>
        <div class="form-group">
          <label class="form-label">City</label>
          <input type="text" name="city" class="form-control" value="city" />
        </div>
        <div class="form-group">
          <label class="form-label">State</label>
          <input type="text" name="state" class="form-control" value="state" />
        </div>
        <div class="form-group">
          <label class="form-label">Zipcode</label>
          <input
            type="text"
            name="zipcode"
            class="form-control"
            value="zipcode"
          />
        </div>
        <button class="form-btn" type="submit">save address info</button>
        <input type="hidden" name="page" value="/profile" />
      </form>
    </div>
  </div>
</div>

<!-- payment edit form -->
<div class="modal fade" id="payment-add">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button class="modal-close" data-bs-dismiss="modal">
        <i class="icofont-close"></i>
      </button>
      <form class="modal-form" action="" method="post">
        <div class="form-title">
          <h3>edit payment info</h3>
        </div>
        <div class="form-group">
          <label class="form-label">card name</label>
          <input
            class="form-control"
            name="card_name"
            type="text"
            value="card name"
          />
        </div>
        <div class="form-group">
          <label class="form-label">card number</label>
          <input
            class="form-control"
            name="card_num"
            type="number"
            value="card num"
          />
        </div>
        <div class="form-group">
          <label class="form-label">card type</label>
          <input
            class="form-control"
            name="card_type"
            type="text"
            value="card type"
          />
        </div>
        <div class="form-group">
          <label class="form-label">expiration date (MM/DD/YYYY)</label>
          <input
            class="form-control"
            name="date"
            type="date"
            value="exp date"
          />
        </div>
        <button class="form-btn" type="submit">save payment info</button>
        <input type="hidden" name="page" value="/profile" />
      </form>
    </div>
  </div>
</div>

<!-- profile edit form -->
<div class="modal fade" id="profile-edit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button class="modal-close" data-bs-dismiss="modal">
        <i class="icofont-close"></i>
      </button>
      <form class="modal-form" action="" method="post">
        <div class="form-title">
          <h3>edit profile info</h3>
        </div>
        <div class="form-group">
          <label class="form-label">First Name</label>
          <input
            class="form-control"
            name="fname"
            type="text"
            value="first name"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Last Name</label>
          <input
            class="form-control"
            name="lname"
            type="text"
            value="last name"
          />
        </div>
        <div class="form-group">
          <label class="form-label">email</label>
          <input class="form-control" name="email" type="text" value="email" />
        </div>
        <input type="hidden" name="page" id="page" value="/profile" />
        <button class="form-btn" type="submit">save profile info</button>
      </form>
    </div>
  </div>
</div>
<!--=====================================
                MODAL ADD FORM END
    =======================================-->

{% endblock content %}
