{% extends 'BaseClient.html' %}
{% block title %}Nebula - Shop{% endblock title %}

{% block content %}

    <!--=====================================
                SHOP PART START
    =======================================-->
        <section class="inner-section shop-part">
            <div class="container">
                <div class="row content-reverse">
                    <div class="col-lg-3">

                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Sort by Price</h6>
                            <form>
                                <div class="shop-widget-group">
                                    <input type="text" placeholder="Min - 00">
                                    <input type="text" placeholder="Max - 5k">
                                </div>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i>
                                    <span>search</span>
                                </button>
                            </form>
                        </div>

                        <div style="text-align: center; color: white;">
                            <h5 class="shop-widget-title" style="color: white;">Filters</h5>
                        </div>

                        <br>

                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Filter by Brand</h6>
                            <form>
                                <ul class="shop-widget-list">
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="tag1">
                                            <label for="tag1">brand</label>
                                        </div>
                                    </li>
                                </ul>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i>
                                    <span>Search by brands</span>
                                </button>
                            </form>
                        </div>


                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Filter by Focal Distance</h6>
                            <form method="post">
                                <ul class="shop-widget-list">
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="focal" name="focal_distance" value="focal">
                                            <label for="tag1">focal mm</label>
                                        </div>
                                    </li>
                                </ul>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i>
                                    <span>Search by Focal Distance</span>
                                </button>
                            </form>
                        </div>

                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Filter by Aperture</h6>
                            <form method="post">
                                <ul class="shop-widget-list">
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="aperture" name="aperture" value="aperture">
                                            <label for="tag1">aperture mm</label>
                                        </div>
                                    </li>
                                </ul>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i>
                                    <span>Search by Aperture</span>
                                </button>
                            </form>
                        </div>

                        <div class="shop-widget">
                            <button class="shop-widget-btn">
                                <i class="fas fa-search"></i>
                                <span>Search by All Filters</span>
                            </button>
                        </div>

                        <div style="text-align: center; color: white;">
                            <h5 class="shop-widget-title" style="color: white;">Categories</h5>
                        </div>

                        <br>

                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Filter by Lens Tipe</h6>
                            <form method="post">
                                <ul class="shop-widget-list">
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="Lens" name="model" value="Lens">
                                            <label for="tag1">Lens</label>
                                        </div>
                                    </li>
                                </ul>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i>
                                    <span>Search by Lens Tipe</span>
                                </button>
                            </form>
                        </div>

                        <div class="shop-widget">
                            <h6 class="shop-widget-title">Filter by Mount</h6>
                            <form>
                                <ul class="shop-widget-list">
                                    <li>
                                        <div class="shop-widget-content">
                                            <input type="checkbox" id="tag3">
                                            <label for="tag1">mount</label>
                                        </div>
                                    </li>
                                </ul>
                                <button class="shop-widget-btn">
                                    <i class="fas fa-search"></i>
                                    <span>Search by Mounts</span>
                                </button>
                            </form>
                        </div>
                    </div>

                    <!-- Products -->

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4">
                                <div class="col">
                                    <div class="product-card">
                                        <div class="product-media">
                                            <a class="product-image" href="{{url_for('static', filename='images/product-images/product')}}">
                                                <img src="{{url_for('static', filename='images/product-images/product')}}" alt="product">
                                            </a>
                                            <div class="product-widget">
                                                <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target=""></a>
                                            </div>

                                        </div>

                                        <div class="product-content">
                                            <h6 class="product-name">
                                                <a data-bs-toggle="modal" data-bs-target="#product-view-productId">product name</a>
                                            </h6>
                                            <h6 class="product-price">
                                                <span>Price: product price</span>
                                            </h6>
                                            <button class="product-add" title="Add to Cart">
                                                <i class="fas fa-shopping-basket"></i>
                                                <span>add</span>
                                            </button>
                                            <div class="product-action">
                                                <form method="post">
                                                    <input style="width: 50%" class="action-input" title="Quantity Number" type="number" id="quantity" name="quantity" value="1">
                                                    <input type="hidden" id="p_id" name="p_id" value="id">
                                                    <input type="hidden" id="name" name="name" value="name">
                                                    <input type="hidden" id="price" name="price" value="price">
                                                    <input type="hidden" id="stock" name="stock" value="stock">
                                                    <input type="hidden" id="brand" name="brand" value="brand">
                                                    <input type="hidden" id="mount" name="mount" value="mount">
                                                    <input type="hidden" id="desc" name="desc" value="desc">
                                                    <input type="hidden" id="image" name="image" value="image">
                                                    <input style="width: 30%" type="submit" value="Add">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <button class="modal-close icofont-close" data-bs-dismiss="modal"></button>
                                                <div class="product-view">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6">
                                                            <div class="view-gallery">
                                                                <div class="view-label-group">
                                                                    <label class="view-label new">Stock in stock</label>
                                                                </div>
                                                                <ul class="preview-slider">
                                                                    <li><img src="{{url_for('static', filename='images/product-images/')}}" alt="product"></li>
                                                                </ul>

                                                            </div>
                                                         </div>
                                                        <div class="col-md-6 col-lg-6">
                                                            <div class="view-details">
                                                                <h3 class="view-name">
                                                                    <a href="product-video.html">name</a>
                                                                </h3>
                                                                <div class="view-meta">
                                                                    <p>Brand:<span>Brand</span></p><br>
                                                                    <p>Type: Lens</p><br>
                                                                    <p>Mount: mount</p>
                                                                </div>
                                                                <h3 class="view-price">
                                                                    <span>Price: price</span>
                                                                </h3>
                                                                <p class="view-desc">Description</p>
                                                                <div class="view-add-group">
                                                                    <button class="product-add" title="Add to Cart">
                                                                        <span>Tap to add amount</span>
                                                                    </button>
                                                                    <div class="product-action">
                                                                        <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                                                        <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                                                        <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                                                    </div>
                                                                </div>
                                                                <div class="view-action-group">
                                                                    <a class="view-wish wish" href="/shop" title="Add to Cart">
                                                                       <i class="fas fa-shopping-cart"></i>
                                                                        <span>add to cart</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    SHOP PART END
        =======================================-->

{% endblock content %}